html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.circle {
  overflow: hidden;
  float: left;
  margin: 0;
  position: absolute;
  bottom: 25%;
  padding-top: 3rem;
  padding-left: 1.5rem;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  top: 50%;
  left: 30%;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

p {
  position: absolute;
  left: 30%;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}

body {
  margin: 0;
}

.banner {
  overflow: hidden;
  position: relative;
  top: 50%;
  max-height: 500%;
}

.banner-content {
  display: inline;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100%;
  padding: 1.5rem;
  max-width: 45em;
  transform: translateX(-50%);
  float: right;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: 3px;
  border-radius: 8px;
  padding: 0.8em 0.75em 0.60em;
}

.btn-big {
  position: absolute;
  left: 17rem;
  top: 9rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background-color: #666;
}
